{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "GitHubActionsOidc",
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::ACCOUNT_ID:oidc-provider/token.actions.githubusercontent.com"
      },
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Condition": {
        "StringEquals": {
          "token.actions.githubusercontent.com:aud": "sts.amazonaws.com"
        },
        "StringLike": {
          "token.actions.githubusercontent.com:sub": [
            "repo:Madhav071204/SafeRoute-Security-Shuttle-Route-Optimisation-System:environment:production",
            "repo:Madhav071204/SafeRoute-Security-Shuttle-Route-Optimisation-System:ref:refs/heads/chore/release-baseline"
          ]
        }
      }
    }
  ]
}
